{namespace examples.simple}
/**
 * Says hello to the world.
 */
{template .helloWorld}
  Hello world!
{/template}


/**
 * Says destroy to the world.
 */
{template .destroy}
  Be destroyed!!!!!!!!!!
{/template}
